* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f8fafc;
  --card-bg: #ffffff;
  --sidebar-bg: #ffffff;

  --text-primary: #0f172a;
  --text-secondary: #64748b;

  --border-color: #e2e8f0;

  --primary-color: #2563eb;
  --primary-hover: #1d4ed8;

  --success-color: #16a34a;
  --danger-color: #dc2626;

  --hover-bg: #f1f5f9;

  --shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  --radius: 12px;
}

body[data-theme="dark"] {
  --bg-color: #0f172a;
  --card-bg: #1e293b;
  --sidebar-bg: #111827;

  --text-primary: #f8fafc;
  --text-secondary: #94a3b8;

  --border-color: #334155;

  --primary-color: #3b82f6;
  --primary-hover: #60a5fa;

  --success-color: #22c55e;
  --danger-color: #ef4444;

  --hover-bg: #334155;

  --shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

body {
  font-family: "Segoe UI", sans-serif;

  background: var(--bg-color);

  color: var(--text-primary);

  transition:
    background 0.3s ease,
    color 0.3s ease;
}
body,
#root {
  min-height: 100vh;

  background: var(--bg-color);

  color: var(--text-primary);
}

button {
  font-family: inherit;
}

input,
select,
textarea {
  font-family: inherit;

  background: var(--card-bg);

  color: var(--text-primary);

  border: 1px solid var(--border-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--text-secondary);
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
  border-radius: 20px;
}
